doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./styles/styles.css")
        title COMP4537 Lab-4 - Search
    body.dark-theme
        nav
          li
            a(href="./") Home
          li
            a(href="./store.html") Store
          li
            a(href="./search.html") Search
        main
          h1 Search

          div(data-mode="search").dictionary
            input(type="text", name="dictionary", placeholder="Book", tabindex="0").dictionary__input
            button(type="submit", tabindex="1").dictionary__submit Search
            p.dictionary__results
        script(src="./js/script.js", type="module")
