doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./styles/styles.css")
        title COMP4537 Lab-4 - Store
    body.dark-theme
        nav
          li
            a(href="./") Home
          li
            a(href="./store.html") Store
          li
            a(href="./search.html") Search
        main
          h1 Store

          div(data-mode="store").dictionary
            input(type="text", placeholder="Word", tabindex="1").dictionary__input
            button(type="submit", tabindex="3").dictionary__submit Store
            textarea(placeholder="Definition", tabindex="2").dictionary__definition
            p.dictionary__results
        script(src="./js/script.js", type="module")
